<%= content_for :head do %>
	<title> Edit </title>
<% end %>

<%= content_for :body do %>
<h1> Editing Users </h1>
<div class="homeTitle">
	Modifica il tuo feed
</div>

<% if notice %>
<p align="center"><%= notice %></p>
<% end %>
<% if alert %>
<p align="center"><%= alert %></p>
<% end %>

<% if @feed.image.present? %>
<div id="<%= @feed.id %>" onclick="Expand_Image(<%= @feed.id %>)" class="feedImage">
<%= image_tag(@feed.image_url) %>
</div>
<% end %>
<%= render 'doubleForm' %>

<p id='notice'> <%= @error %> </p>

<%= link_to 'Show', @feed %> |
<%= link_to 'Back', feeds_path %>

<% end %>

