	<%= content_for :head do %>
		
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
		<link href="/assets/normalize.css" rel="stylesheet" />
		<link href="/assets/jquery.bxslider.css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
		<link href="/assets/modal.css" rel="stylesheet" type="text/css">
		<link href="/assets/index_style.css" rel="stylesheet" type="text/css">
		
		<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
		
		<script src="/assets/jquery_index.min.js"></script>
	<% end %>

	<%= content_for :body do %>
		<div id="wrapper_x">
			<% @LastFeeds = @feeds.last(3).reverse %>
			<!-- All modals added here for the demo. You would of course just have one, dynamically created -->
			<div class="md-modal md-effect-1" id="modal-1">
				<div class="md-content">
					<h3>#Lagrandeguerra</h3>
					<div>
						<ul>
							<% if !@LastFeeds[0].blank? %>
							<li>"<%= @LastFeeds[0].text_ita %>"<% if user = User.find_by(id: params[@LastFeeds[0].user_id]) %><%= user.name %><% end %>(<%= @LastFeeds[0].date.strftime('%d/%m/%Y') %>)</li>
						<% end %>
						<% if !@LastFeeds[1].blank? %>
							<li>"<%= @LastFeeds[1].text_ita %>"<% if user = User.find_by(id: params[@LastFeeds[1].user_id]) %><%= user.name %><% end %>(<%= @LastFeeds[1].date.strftime('%d/%m/%Y') %>)</li>
						<% end %>
						<% if !@LastFeeds[2].blank? %>
							<li>"<%= @LastFeeds[2].text_ita %>"<% if user = User.find_by(id: params[@LastFeeds[2].user_id]) %><%= user.name %><% end %>(<%= @LastFeeds[2].date.strftime('%d/%m/%Y') %>)</li>
						<% end %>
						</ul>
						
						<div class="popup_social_text">
							Segui la lista completa delle notizie su <a href="https://www.facebook.com/pages/La-Grande-Guerra-in-tempo-reale/311104819049617">Facebook</a> o <a href="https://twitter.com/lagrandeguerra">Twitter</a>
						</div>
						<button class="md-close">Chiudi</button>
					</div>
				</div>
			</div>
			<!-- START bar -->
			<div id="home" class="bar">
				<div id="link">
						<ul>
							<li><a href="#team">Chi Siamo</a></li>
							<li><a href="#feed">Feed</a></li>
							<li><a href="<%= new_user_session_path %>" name="Hlink">Accedi</a></li>
							<li><a href="<%= new_user_registration_path %>" name="Hlink">Iscriviti</a></li>
							<li>
								<%= link_to(home_index_path(:locale=>'it')) do %>
									<%= image_tag("IT_flag.png") %> 
								<% end %>
								<%= link_to(home_index_path(:locale=>'en')) do %>
									<%= image_tag("UK_flag.png") %>
								<% end %>
							</li>
						</ul>
				</div>
				<span id="bar_text">
					 La Grande Guerra
				</span>
			</div>
			<!-- END bar -->
			
			<section id="first">
				<div style="display:table;">
					<div class="table">
						<h1 id="first_left_text">
							Benvenuti su Ragazzidel99.it
						</h1>
						<div id="first_left_text_und">
							La Grande Guerra
						</div>
						</div>
					
					<div id="first_left_text_exp">
							100 anni fa aveva inizio una delle più grandi tragedie della storia. Allo stesso tempo iniziava il processo che portò alla completa liberazione dell'Italia dalle potenze straniere e che avvenne graze al sacrificio di una generazione di ragazzi appena maggiorenni.
					</div>
					<a href="#feed">
						<div class="button_b_w">
							Scopri di più
						</div>
					</a>
				</div>
			</section>
			<section id="feed">
				<div id="feed_collage_section">
					<div id="second_image_position_test">
						<%= image_tag("collage.png") %>
					</div>
					<div id="feed_preview">
						<%= image_tag("collage_feed.png") %>
					</div>
					<div id="second_text">
						La Grande Guerra raccontata giorno per giorno, con notizie e foto. <br>
						In contemporanea su Twitter e Facebook.
					</div>
				</div>
				<div class="second_social">
					<div class="second_single_social" style="padding-right:100px;">
						<div id="second_feed_preview_text">
							Per un'anteprima dei feed:
						</div>
						<!--<div class="button_b_w" style="margin:10px auto 0 auto;">
							CLICCA QUI
						</div>-->
						<button class="md-trigger" data-modal="modal-1">Clicca qui</button>
					</div>
					<a href="https://www.facebook.com/pages/La-Grande-Guerra-in-tempo-reale/311104819049617">
						<div class="second_single_social" style="padding-right:100px;">
							<%= image_tag("facebook-icon-128.png") %>
							<span id="second_text_fb">
								/lagrandeguerraintemporeale
							</span>
						</div>
					</a>
					<a href="https://twitter.com/lagrandeguerra">
						<div class="second_single_social">
								<%= image_tag("twitter-icon-128.png") %>
								<span id="second_text_twitter">
									@lagrandeguerra
								</span>
						</div>
					</a>
				</div>
			</section>
			
			<!-- SECTION chi siamo -->
			<div class="who" id="team">
				<h3>Chi Siamo</h3>
				<div id="first_who_section">
					
					<div class="vincenzo">
							<img alt="Vincenzo Di Nicola" src="<%= asset_path 'vincenzo.jpg' %>">
							<h2>Vincenzo Di Nicola</h2>
							<a href="https://twitter.com/vincenzo" class="twitter-follow-button" data-show-count="false">Follow @vincenzo</a>
							<script>
								!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
							</script>
							<h4>Coordinatore</h4>
							<p>Teramo (TE) <br>Classe 1979</p>  
					</div>
					
					<div class="liceoscientifico">
						<img alt="Liceo Scientifico Albert Einstein" src="<%= asset_path 'einstein.jpg' %>">
						<h2>Liceo Scientifico Albert Einstein</h2>
						<h2>Teramo - Abruzzo</h2>
					</div>
				</div>
				
				<div style="padding-left:7em;margin-left:8em">
					<div class="member">
						<img alt="Davide Di Carlo" src="<%= asset_path 'dadda_dc.jpg' %>">
						<h2>Davide Di Carlo</h2>
						<h4>Sviluppatore</h4>
						<p>Teramo (TE)<br>Classe 1997</p>
					</div>
					
					<div class="member">
						<img alt="Federico Pomponii" src="<%= asset_path 'pomponii.jpg' %>">
						<h2>Federico Pomponii</h2>
						<h4>Sviluppatore</h4>
						<p>Canzano (TE)<br>Classe 1997</p>
					</div>
					
					<div class="member">
						<img alt="Davide Barbieri" src="<%= asset_path 'dadda_b.jpg' %>">
						<h2>Davide Barbieri</h2>
						<h4>Sviluppatore</h4>
						<p>Teramo (TE)<br>Classe 1997</p>
					</div>
					
					<div class="member">
						<img alt="Lorenzo Camaione" src="<%= asset_path 'lorenzo_c.jpg' %>">
						<h2>Lorenzo Camaione</h2>
						<h4>Sviluppatore</h4>
						<p>Teramo (TE)<br>Classe 1996</p>
					</div>
					
					<div class="member">
						<img alt="Lilith Taraschi" src="<%= asset_path 'lilith_t.jpg' %>">
						<h2>Lilith Taraschi</h2>
						<h4>Storica</h4>
						<p>Teramo (TE)<br>Classe 1996</p>  
					</div>
					
					<div class="member">
						<img alt="Davide Di Giacinto" src="<%= asset_path 'davide_dg.jpg' %>">
						<h2>Davide Di Giacinto</h2>
						<h4>Storico</h4>
						<p>Teramo (TE)<br>Classe 1995</p>
					</div>
					
					<div class="member">
						<img alt="Marco Matani" src="<%= asset_path 'marco_mat.jpg' %>">
						<h2>Marco Matani</h2>
						<h4>Storico</h4>
						<p>Teramo (TE)<br>Classe 1995</p>
					</div>
					
					<div class="member">
						<img alt="Alessia Coruzzi" src="<%= asset_path 'alessia_c.jpg' %>">
						<h2>Alessia Coruzzi</h2>
						<h4>Storica</h4>
						<p>Teramo (TE)<br>Classe 1996</p>
					</div>
					
					<div class="member">
						<img alt="Domenico Mattiucci" src="<%= asset_path 'domenico_m.jpg' %>">
						<h2>Domenico Mattiucci</h2>
						<h4>Storico</h4>
						<p>Bellante (TE)<br>Classe 1997</p>
					</div>
					
					<div class="member">
						<img alt="Michelangelo Ierace" src="<%= asset_path 'michelangelo_i.JPG' %>">
						<h2>Michelangelo Ierace</h2>
						<h4>Storico</h4>
						<p>Campli (TE)<br>Classe 1997</p>
					</div>
					
					<div class="member">
						<img alt="Federico Cioschi" src="<%= asset_path 'federico_c.jpg' %>">
						<h2>Federico Cioschi</h2>
						<h4>Storico</h4>
						<p>Teramo (TE)<br>Classe 1996</p>
					</div>
					
					<div class="member">
						<img alt="Pietro Oreglia" src="<%= asset_path 'pietro_o.jpg' %>">
						<h2>Pietro Oreglia</h2>
						<h4>Storico</h4>
						<p>Teramo (TE)<br>Classe 1995</p>
					</div>
				</div>
			</div>
			<!-- END chi siamo -->
			
			<!-- START credits -->
			<div class="credits">
				<div id="left_ftext">
					<b style="font-size: 1.35em;">Grazie a</b><br>
					La Biblioteca Provinciale "Melchiorre Delfico"<br>
					L'archivio digitale de 'La stampa'<br>
					Il Liceo scientifico Albert Einstein - (TE) Abruzzo<br>
					2015 - Ragazzi del '99
					<a href="mailto:info@ragazzidel99.it" style="color: #698888;">info@ragazzidel99.it</a>
				</div>
				<div id="connect">
					<div id="central_ftext"><b>CONNECT</b></div>
					<a href="https://www.facebook.com/pages/La-Grande-Guerra-in-tempo-reale/311104819049617?ref=ts&fref=ts">
						<img src="<%= asset_path 'Facebook-icon.png' %>">
					</a>
					<a href="https://twitter.com/lagrandeguerra">
						<img style="left:5%;" src="<%= asset_path 'Twitter-icon.png' %>">
					</a>
					<a href="https://github.com/lorenzo-camaione/Twistory3.0">
						<img src="<%= asset_path 'github.png' %>">
					</a>
					<a href="https://www.youtube.com/channel/UCoCqMnYaUqdHSel2e8Pr-_A">
						<img src="<%= asset_path 'Youtube-icon.png' %>">
					</a>
				</div>
				<div id="flogo">
					<img src="<%= asset_path 'ragazzidel99-logo.png' %>">
				</div>
			</div>
			<!-- END credits -->
			
		</div>
		<!-- END main div -->
		<script src="/assets/classie.js"></script>
		<script src="/assets/modalEffects.js"></script>
	<% end %>

