<p id="notice"><%= notice %></p>

<h1>Listing Feeds</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Text ita</th>
      <th>Text eng</th>
      <th>Image</th>
      <th>Date</th>
      <th>Is ita published</th>
      <th>Is eng published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.user %></td>
        <td><%= feed.text_ita %></td>
        <td><%= feed.text_eng %></td>
        <td><%= feed.image %></td>
        <td><%= feed.date %></td>
        <td><%= feed.is_ita_published %></td>
        <td><%= feed.is_eng_published %></td>
        <td><%= link_to 'Show', feed %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed', new_feed_path %>
