<%= content_for :head do %>
	<title> Show </title>
<% end %>

<%= content_for :body do %>

<p>
  <strong>Text ita:</strong>
  <%= @feed.text_ita %>
</p>

<p>
  <strong>Text eng:</strong>
  <%= @feed.text_eng %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@feed.image) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @feed.date %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
<% end %>
