<%= content_for :head do %>
	<title> Edit </title>
<% end %>

<%= content_for :body do %>
<h1> Editing Users </h1>
<%= render 'form' %>

<p id='notice'> <%= @error %> </p>
|
<%= link_to 'Back', portals_path %>

<% end %>

